<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 5: Form Submission</title>
 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="form-container">
        <h2>User Registration</h2>
        
        
        <form action="/get-from-data" method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="email" name="useremail" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Submit Data</button>
        </form>
    </div>

</body>
</html>
